@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@300;400;500;700&display=swap");

:root {
  /* font-size: 16px; */
  --primary-color: #40514e;
  --secondary-color: #f5f5f5;
  --accent1: #30e3ca;
  --accent2: #2f89fc;
  --dark-color: #191c1b;
  --logo-height: 70px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans HK", sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.h-full {
  height: 100%;
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-accent-1 {
  color: var(--accent1);
}

.text-accent-2 {
  color: var(--accent2);
}

/* Website design css starts here. */

main {
  height: 100vh;
  background: var(--primary-color);
  position: relative;
}

/* HEADER */
.navbar {
  height: 100px;
  border-bottom: 1px solid #30e3ca;
}

.navbar nav {
  height: 100%;
  display: grid;
  grid-template-columns: 300px auto;
  align-items: center;
}

.brand img {
  height: 4.375em;
}

.brand button {
  display: none;
}

.menu {
  align-self: stretch;
  justify-self: right;
}

.menu a {
  display: inline-block;
  height: 100%;
  padding: 0 1em;
  font-size: 1rem;
  color: var(--accent1);
  text-transform: uppercase;
  text-align: center;
  line-height: 100px;
  /* margin-bottom: -2px; */
  /* border-bottom: 3px solid transparent; */
  /* transition: border-bottom 0.3s, color 0.3s; */
  transition: color 0.3s;
  position: relative;
}
.menu a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 3px;
  border-radius: 20px;
  background-color: white;
  transition: width 0.3s;
}
.menu a:hover {
  color: var(--secondary-color);
}
.menu a:hover::after {
  width: 100%;
}

/* SIDEBAR */
.sidebar {
  display: none;
}

.backdrop {
  display: none;
}

/* FRONT SECTION CONTENT */

.front {
  height: 75vh;
}

.front-text {
  padding-top: 8em;
}

.front h1 {
  font-size: 2.5rem;
  font-weight: 300;
  color: var(--secondary-color);
  line-height: 1.3em;
}

.front h1 span {
  font-size: 3.5rem;
  font-weight: 700;
  display: block;
  text-transform: capitalize;
  color: var(--accent1);
}

.front p {
  font-size: 1.2rem;
  margin-top: 2em;
  font-weight: 500;
  color: var(--secondary-color);
}

.front p span {
  color: var(--accent1);
  font-weight: 700;
}

.cta {
  margin-top: 2.5em;
}

.cta .btn-link {
  font-size: 1.1rem;
  font-weight: 400;
  padding: 0.9em 1.4em;
  border-radius: 4px;
  text-align: center;
  text-transform: uppercase;
  transition: transform 0.3s;
  display: inline-block;
}

.cta .btn-link:hover {
  transform: scale(1.05);
}

.primary {
  background: var(--accent1);
  color: var(--dark-color);
  transition: background 0.3s, color 0.3s;
}

.primary:hover {
  background: var(--secondary-color);
  color: var(--dark-color);
}

.dark {
  background: var(--dark-color);
  color: var(--secondary-color);
}

.dark:hover {
  background: black;
  color: var(--secondary-color);
}

/* CAROUSEL IMAGE SLIDER */

.carousel {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.slider-container .slider {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  left: 0;
  transition: left 1s;
}

.slider-container .slider .img {
  display: flex;
  width: inherit;
  height: 100%;
  justify-content: center;
  flex-shrink: 0;
}
.slider-container .img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slider-container .tracker {
  height: 10%;
  width: 100%;
  position: absolute;
  bottom: 0;
  /* background: rgba(0, 0, 0, 0.404); */
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-container .tracker span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: rgb(105, 105, 105);
  margin: 0 1em;
  transition: background 1s, transform 1s;
}

.slider-container .tracker span.active {
  background: white;
  transform: scale(1.2);
}

/* SOCIAL LINKS */
.social-links {
  color: var(--secondary-color);
  font-size: 1rem;
}

.social-links span {
  margin: 0 1.3em 0 0;
}

.social-links a {
  font-size: 1.2rem;
  color: var(--secondary-color);
  margin-right: 1em;
}

/* about section */
/*
===========================================
     a      bbbbb   oooo  u    u ttttttt   
    a a     b    b o    o u    u    t      
   a   a    bbbbb  o    o u    u    t      
  aaaaaaa   bbbbb  o    o u    u    t      
 a       a  b    b o    o u    u    t      
a         a bbbbb   oooo   uuuu     t                 
===========================================
*/

#about {
  background: var(--secondary-color);
  padding-bottom: 5em;
}

#about .container {
  padding-top: 3em;
}

.page-heading {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

#about .section-heading {
  font-size: 1.2rem;
  margin: 1.5em 0 1em 0;
  font-weight: bold;
}

.about-text {
  font-size: 0.9rem;
  font-weight: 400;
  color: black;
  line-height: 1.5em;
  text-align: justify;
  margin-bottom: 2em;
}

#about .img {
  width: 100%;
  border-radius: 0.5em;
}

.info-card {
  background: #fff;
  border-radius: 0.5em;
}

.info-card img {
  width: 100%;
  min-height: 190px;
  object-fit: cover;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.info-card .card-content {
  min-height: 200px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info-card .card-content .info-card-heading {
  color: black;
  font-size: 1.2rem;
  margin-bottom: 1em;
}

.info-card .card-content .info-card-text {
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.9rem;
  overflow: hidden;
}

.info-card .card-content a {
  padding: 0.6em 0.8em;
  background: var(--accent2);
  font-size: 0.8rem;
  color: var(--secondary-color);
  border-radius: 0.25em;
  margin-top: auto;
}
.info-card .card-content a::after {
  content: "...";
}
